@{
    ViewData["Title"] = "Jobs";
    var jobList = ViewBag.jobList as List<JobSearch.Models.JobModel>;
    var deniedList = ViewBag.deniedList as List<JobSearch.Models.JobModel>;
}

<link rel="stylesheet" href="~/JobSearch.styles.css" asp-append-version="true" />

<h1>Current Job Applications</h1>
<p>
    <a asp-action="AddJob">Add new job application</a>
</p>
<table class="table" >
    <thead>
        <tr>
            <td>ID</td>
            <td>Company</td>
            <td>Position</td>
            <td>Location</td>
            <td>Date</td>
            <td>Experience</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    @{
        if(jobList != null){
            foreach (var job in jobList)
            {
                <tr >
                    <td>@job.Id</td>
                    <td>@job.Company</td>
                    <td>@job.Position</td>
                    <td>@job.Location</td>
                    <td>@job.Date</td>
                    <td>
                        
                        @{
                            if (@job.ELevel != null)
                            {
                                @job.ELevel
                            }
                        }
                    </td>

                    <td>@Html.ActionLink("Edit", "EditJob", new { id = @job.Id }, new { @class = "btn btn-primary" })</td>
                    <td> 
                        <!---->
                        <!--Also creates a popup to make the user confirm that they actually want to remove the item-->
                        @Html.ActionLink("Delete", "DeleteJob", new { id = @job.Id }, 
                        new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure you want to delete " + @job.Position + " at " + @job.Company + "?')"})
                        <!-- </btn>-->
                    </td>
                </tr>
            }
        }
        
    }
    
</table>

<p>Amount of ongoing job applications: @ViewBag.nrOfJobs</p>


@{
    
    if(deniedList != null && deniedList.Count() > 0){
        <h1>Denied Job Applications</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Company</td>
                    <td>Position</td>
                    <td>Location</td>
                    <td>Date</td>
                    <td>Experience</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            @{
               foreach (var job in deniedList)
                    {
                        <tr>
                            <td>@job.Id</td>
                            <td>@job.Company</td>
                            <td>@job.Position</td>
                            <td>@job.Location</td>
                            <td>@job.Date</td>
                        <td>
                            @{
                                if (@job.ELevel != null)
                                {
                                    @job.ELevel
                                }
                            }
                        </td>
                        <td>@Html.ActionLink("Edit", "EditJob", new { id = @job.Id }, new { @class = "btn btn-primary" })</td>
                        <td>
                            <!--<btn class="btn btn-danger"-->
                            <!-- onclick="return confirm('Are you sure you want to delete @job.Position at @job.Company')">"-->
                            @Html.ActionLink("Delete", "DeleteJob", new { id = @job.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Are you sure you want to delete " + @job.Position + " at " + @job.Company + "?')" })
                            <!-- </btn>-->
                        </td>
                            
                        
                        </tr>
                    }
            }

        </table>
        <p>Amount of denied job applications: @ViewBag.nrOfDenials</p>
        <p>Total amount job applications: @(ViewBag.nrOfJobs + ViewBag.nrOfDenials)</p>
    }
    
}